@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020617; /* Slate 950 (Fundo escuro) */
  --foreground: #f8fafc; /* Slate 50 (Texto claro) */
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/* Custom Scrollbar - Discreta e Premium */
::-webkit-scrollbar {
  width: 5px;  /* Bem fininha */
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent; /* Fundo invisível */
}

::-webkit-scrollbar-thumb {
  background: #333; /* Cinza escuro discreto */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #C9A66B; /* Fica Dourada (MASC PRO) só quando passa o mouse */
}

/* Para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #333 transparent;
}